<h1 class="text-danger text-center mt-5">Welcome to Angular</h1>


    <h2>Calculator</h2>
    <input type="text" id="calculation" (keydown)="resultenter()"  (keydown)="noalphabet($event)" (keydown)="sameOperator($event)" autocomplete="off"><br><br>

    <button type="button" (click)="getval(1)">1</button>
    <button type="button" (click)="getval(2)">2</button>
    <button type="button" (click)="getval(3)">3</button>
    <button type="button" (click)="getval('+')" class="plus">+</button><br>

    <button type="button" (click)="getval(4)">4</button>
    <button type="button" (click)="getval(5)">5</button>
    <button type="button" (click)="getval(6)">6</button>
    <button type="button" (click)="getval('-')" class="minus">-</button><br>

    <button type="button" (click)="getval(7)">7</button>
    <button type="button" (click)="getval(8)">8</button>
    <button type="button" (click)="getval(9)">9</button>
    <button type="button" (click)="getval('*')" class="multi">*</button><br>

    <button type="button" (click)="getval(0)">0</button>
    <button type="button" (click)="getval('00')">00</button>
    <button type="button" (click)="getval('.')">.</button>
    <button type="button" (click)="getval('/')" class="divide">/</button><br>

     <button type="button" (click)="back()" style="width:120px;background-color: gray;">Backspace</button>
    <button type="button" (click)="clear()" style="width:80px;background-color:red;">Clear</button> 
    <button type="button" (click)="result()" style="background-color:green;">=</button><br>





<router-outlet></router-outlet>
